@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 90%;
  background-color: #33414C;
  color: white;
}

#header {
    color:#C6828C;
    text-align:left;
}
#checkbox {
    line-height:30px;
}
#graph {
    float:left;
}
#footer {
    color:white;
    clear:both;
    text-align:right; 
}

input[type=checkbox].css-checkbox {
  display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:22px;
  height:17px; 
  display:inline-block;
  line-height:17px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -17px;
}
            

label.css-label {
  background-image:url(http://goo.gl/ebW5ci);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

svg {
  fill: white;
}


.line {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
  clip-path: url(#clip);
}

.line.visible{
  stroke: red;
}

.mark{opacity: 1; stroke: white;}

.point{
  opacity: 1;
  clip-path: url(#clip);

}

.cluster{
  fill: red;
  opacity: 0.75;
    clip-path: url(#clip);

}


.bar{fill: green; stroke: none;}  
.barContainer{fill: none; stroke: black;}
.inline-block{}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

::-webkit-scrollbar {
      width: 10px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
      background-color: #b46868;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */

.button {
  border-radius: 7px;
  border: 0;
  color: #33414C;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  background: #C6828C;
  padding: 10px 20px 10px 20px;
  margin-right: 20px;
}

.button:hover {
  background: #D45062;
  transition-duration: 0.4s;
}
 
.tg {
  border-collapse:collapse;
  border-spacing:0;

}
.tg td {
  overflow:hidden;
  word-break:normal;

  
}
.tg .tg-lqy6 {
  text-align:right;
  height:1px;
  line-height: 0px;

}
.tg .tg-yw4l {
  vertical-align:top;
  padding-left:10px;
}
.tg .tg-gh39 {
  padding-left:10px;
}
.tg .tg-img {
  vertical-align:top;
}
a{
  color: #C6828C; 
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif; 
}


div.tooltip {   
  font-family: 'Oswald', sans-serif; 
  position: absolute;           
  text-align: center;           
  width: auto;                  
  height: auto;                 
  padding: 0px 2px 0px 2px;             
  font: 12px sans-serif;        
  background: #C6828C;   
  border: 0px;      
  border-radius: 2px;           
  pointer-events: none; 
  clip-path: url(#clip);

}
