@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 90%;
  background-color: #204B50;
  color: white;
}

#header {
    color:#FB5E5E;
    text-align:left;
}
#checkbox {
    line-height:30px;
}
#graph {
    float:left;
}
#footer {
    color:white;
    clear:both;
    text-align:right; 
}

input[type=checkbox].css-checkbox {
  display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:22px;
  height:17px; 
  display:inline-block;
  line-height:17px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -17px;
}
            

label.css-label {
  background-image:url(http://goo.gl/ebW5ci);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

svg {
  fill: white;
}

.line {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
  clip-path: url(#clip);
  opacity: 0.3;
}


.mark{opacity: 1; stroke: white;}

.point{
  opacity: 0.6;
  clip-path: url(#clip);

}

.cluster{
  opacity: 0.80;
    clip-path: url(#clip);

}


.bar{fill: green; stroke: none;}  
.barContainer{fill: none; stroke: black;}
.inline-block{}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

::-webkit-scrollbar {
      width: 10px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
      background-color: #6CADAA;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */

.button {
  border-radius: 7px;
  border: 0;
  color: #33414C;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  background: #668692;
  padding: 10px 20px 10px 20px;
  margin-right: 20px;
}

.button:hover {
  background: #00B5A2;
  transition-duration: 0.4s;
}
 
.tg {
  border-collapse:collapse;
  border-spacing:0;

}
.tg td {
  overflow:hidden;
  word-break:normal;

  
}
.tg .tg-lqy6 {
  text-align:right;
  height:1px;
  line-height: 0px;

}
.tg .tg-yw4l {
  vertical-align:top;
  padding-left:10px;
}
.tg .tg-gh39 {
  padding-left:10px;
}
.tg .tg-img {
  vertical-align:top;
}

a{
  color: #94A0FD; 
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif; 
  font-weight: bold;
  font-size:large;
}


div.tooltip {   
  font-family: 'Oswald', sans-serif; 
  position: absolute;           
  text-align: center;           
  width: auto;                  
  height: auto;                 
  padding: 0px 2px 0px 2px;             
  font: 12px sans-serif;        
  background: #668692;   
  border: 0px;      
  border-radius: 2px;           
  pointer-events: none; 
  clip-path: url(#clip);

}

/*
 * Pine's CSS
 */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: row nowrap;
}

#left {
  margin-top: 150px;
  padding-left: 1.4rem;
}

#mid {
  padding-left: 2.4rem;
  max-width: 800px;
}

#header {
  min-height: 150px;
  padding-top: 1.6rem;
}
#header h1 {
  margin: 0;
  margin-bottom: 2rem;
}

#right {
  display: flex;
  flex-flow: column nowrap;

  flex: 1;

  margin-top: 150px;
  padding-left: 2.4rem;
}

#main_popup, #cluster_popup {
  flex: 4;
  max-width: 300px;
}

#main_popup, #cluster_popup {
  display: flex;
  flex-flow: column nowrap;
}

#main_popup div {
  margin-bottom: 2rem;
}

#top-right img {
  vertical-align: text-bottom;
}

#top-right a {
  max-width: 300px;
}

#top-right p {
  margin-top: 1rem;
}

#bar-right {
  text-align: center;
}

.mid-right {
  text-align: right;
}

.mid-right img {
  vertical-align: text-bottom;
  margin-left: 10px;
  margin-right: 2.8rem;
}

#text1 {
  max-width: 600px;
}

#footer {
  max-width: 300px;
}

#footer a {
  font-size: 1rem;
  text-transform: none;
}

#cluster_popup h3 {
  color: #94A0FD;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: large;
  margin-top: 1rem;
}
